
    {{define "header"}}
    <nav>
        <div class="logo">
            <h1>Khayrulloh</h1>
        </div>
        <ul id="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>

    {{end}}


