<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/view/images/fire_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/view/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>BytePlanet</title>
</head>


<body>

    {{template "header"}}




    <section class="main">
        <div class="center">
            <div class="main-content">
            
                <h3>Hi there, I'm</h3>
                <h1>Fayzullayev Xayrullo</h1>
                <h3>And I'm a <span id="multiple"></span></h3>
                <p>&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex laudantium beatae est saepe sit corrupti obcaecati, eum vero  voluptatibus. Expedita unde dignissimos voluptatibus quas nostrum.</p>
                <div class="social-media">
                    <a href="https://github.com/khayru11oh" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <a href="/view/images/its-sql-plus-setting-line-and-page-sizes.pdf" target="_blank" class="btn" download>Download CV</a>
            </div>

        <div class="main-img">
            <img src="/view/images/10.png" alt="Photo">
        </div>
        </div>
        
    </section>



    {{template "footer"}}

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="/view/static/script.js" defer></script>
</body>
</html>