   
    {{template "header"}}

    <section class="upload-container">
        <div class="upload-box">
            <div class="upload-photo">
                <div class="cloud-icon"><i class="fa-solid fa-cloud-arrow-up"></i></div>
                <h1>Drag & Drop to Upload</h1>
                <span>OR</span>
                <label for="my-photo" class="my-photo">Browse File</label>
                <input type="file" name="" id="my-photo" hidden accept="image/jpeg, image/png, image/jpg">
            </div>
            
            <div class="description">
                <input placeholder="Info..." type="text" maxlength="100" name="" id="" required>
            </div>
            <button class="btn-send">Send</button>
        </div>
        
        
    </section>

    {{template "footer"}}
